@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Raleway:ital,wght@1,100;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --padding-container: 100px 0;
    --color-title: #121D40; 
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.hero{
    width: 100%;
    height: 100vh;
    min-height: 150px;
    max-height: 150px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #121D40;
}

/* ---------------NAV--------------- */
nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav_title{
    font-weight: 300;
}
.nav_items{
    list-style: none;
}
.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}
.nav_links{
    color: #121D40;
    text-decoration: none;
}
.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.nav_close{
    display: var(--show, none);
}






img{
    width: 100%;
    display: block;
}
h1 {
    color: var(--secondary);
    text-align: center;
    text-transform: uppercase;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.card-header{
    height: 200px;
    width: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}
.card-title{
    text-align: center;
    margin: 0;
}
.card-description{
    flex-grow: 1;
}
.card-header img{
    border-radius: 10px 10px 0 0;
}
.card-body{
    border-radius: 0 0 10px 10px;
    background-color: #fff;
    padding: 20px 15px;
    text-align: justify;
    border: 1px solid #ccc;
}
.btn{
    display: block;
    background-color: var(--secondary);
    padding: 5px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

body{
    background-color: #f8f8f8;
}
@media(min-width: 480px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:  10px;
    }
    .card{
        display: flex;
        flex-direction: column;
    }
    .card-body{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
}



/*---------------- FOOTER --------------------*/
.footer{
    background-color: #295073;
}
.footer_title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}
.footer_title, .footer_newsletter{
    color: #E8F2D0;
}
.footer_containers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E8F2D0;
    padding-bottom: 60px;
}
.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}
.nav_link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}
.footer_inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}
.footer_input{
    background-color: #E8F2D0;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}
.footer_submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #517C8C;
    border: none;
    font-size: 1rem;
    color: #E8F2D0;
    border-radius: 6px;
}
.footer_copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #E8F2D0;
}
.footer_copyright{
    font-weight: 300;
}
.footer_icon{
    /* display: inline-block; */
    margin-bottom: 10px;
}
.footer_img{
    width: 30px;
}
/*---------------- KNOW --------------------*/
.know{
    background-color: #3a3a3f;
    background-image:  radial-gradient(#E8F2D0 0.5px, transparent 0.5px), radial-gradient(#E8F2D0 0.5px, #E8F2D0 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
}
.know_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}
.know_picture{
    max-width: 500px;
}
.know_paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}
.know_img{
    width: 100%;
    display: block;
    border-radius: 30px;
}
/*---------------- ABOUT --------------------*/
.about{
    text-align: center;
    margin-top: -25px;
}
div{ text-align: left};
.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
   
}
/*---------------- HACEMOS --------------------*/
.hacemos{
    background-color: #afafaf;
}
.hacemos_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}
.hacemos_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}
.hacemos_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}
.hacemos_img{
    width: 250px;
    height: 250px;
    border-radius: 20%;
    object-fit: cover;
    object-position: 50% 30%;
}
.hacemos_texts{
    max-width: 700px;
}
.hacemos_course{
    background-color: #517C8C;
    color: #E8F2D0;
    display: inline-block;
    padding: 5px;
}
.hacemos_arrow{
    width: 90%;
    cursor: pointer;
}
