@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Raleway:ital,wght@1,100;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --padding-container: 100px 0;
    --color-title: #121D40; 
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #E8F2D0;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../imagen/charlein-gracia--Ux5mdMJNEA-unsplash\ \(1\).jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/* ---------------NAV--------------- */
nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav_title{
    font-weight: 300;
}
.nav_items{
    list-style: none;
}
.nav_link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}
.nav_links{
    color: #E8F2D0;
    text-decoration: none;
}
.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.nav_img{
    display:block;
    width: 30px;
}
.nav_close{
    display: var(--show, none);
}

/*---------------- HERO CONTAINER --------------------*/
.hero_container{
    max-width: 800px;
    display: grid;
    --padding-container: 0;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}
.hero_title{
    font-size: 3rem;
}
.hero_paragraph{
    margin-bottom: 20px;
}
.cta{
    display: inline-block;
    background-color: #517C8C;
    justify-self: center;
    color:#E8F2D0;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/*---------------- ABOUT --------------------*/
.about{
    text-align: center;
}
.subtitle{
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}
.about_paragraph{
    line-height: 1.7;
}
.about_main{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}
.about_icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}
.about_icon{
    width: 40px;
}

/*---------------- KNOW --------------------*/
.know{
    background-color: #e5e5f7;
    background-image:  radial-gradient(#E8F2D0 0.5px, transparent 0.5px), radial-gradient(#E8F2D0 0.5px, #E8F2D0 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
}
.know_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}
.know_picture{
    max-width: 500px;
}
.know_paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}
.know_img{
    width: 100%;
    display: block;
    border-radius: 30px;
}


/*---------------- PRICE --------------------*/
.price{
    text-align: center;
}
.price_table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em; 
    justify-content: space-evenly;
    align-items: center;
}
.price_element{
    background-color: #517C8C;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #E8F2D0;
    --color-price: #191726;
    --bg-cta: #E8F2D0;
    --color-cta: #295073;
}
.plan_name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}
.plan_price{
    font-size: 2.5rem;
    color: var(--color-price);
}
.plan_items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: #E8F2D0;
}
.plan_cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}


/*---------------- HACEMOS --------------------*/
.hacemos{
    background-color: #E8F2D0;
}
.hacemos_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}
.hacemos_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}
.hacemos_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}
.hacemos_img{
    width: 250px;
    height: 250px;
    border-radius: 20%;
    object-fit: cover;
    object-position: 50% 30%;
}
.hacemos_texts{
    max-width: 700px;
}
.hacemos_course{
    background-color: #517C8C;
    color: #E8F2D0;
    display: inline-block;
    padding: 5px;
}
.hacemos_arrow{
    width: 90%;
    cursor: pointer;
}

/*---------------- QUESTIONS --------------------*/
.questions{
    text-align: center;
}
.questions_container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}
.questions_padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #517C8C;
    border-radius: 6px;
}
.questions_padding--add{
    padding-bottom: 30px;
}
.questions_answer{
    padding: 0 30px 0 ;
    overflow: hidden;
    /* cursor: pointer;
    font-size: 20px;
    color: var(--color-title) */
}
.questions_title{
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}
.questions_arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}
.questions_arrow--rotate{
    transform: rotate(180deg);
}
.questions_show{
    text-align: left;
    height: 0;
    transition: height .3s;
}
.questions_img{
    display: block;
}
.questions_copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/*---------------- FOOTER --------------------*/
.footer{
    background-color: #295073;
}
.footer_title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}
.footer_title, .footer_newsletter{
    color: #E8F2D0;
}
.footer_containers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E8F2D0;
    padding-bottom: 60px;
}
.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}
.nav_link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}
.footer_inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}
.footer_input{
    background-color: #E8F2D0;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}
.footer_submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #517C8C;
    border: none;
    font-size: 1rem;
    color: #E8F2D0;
    border-radius: 6px;
}
.footer_copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #E8F2D0;
}
.footer_copyright{
    font-weight: 300;
}
.footer_icon{
    /* display: inline-block; */
    margin-bottom: 10px;
}
.footer_img{
    width: 30px;
}



.Summer-blues-1-hex { color: #191726; }
.Summer-blues-2-hex { color: #121D40; }
.Summer-blues-3-hex { color: #295073; }
.Summer-blues-4-hex { color: #517C8C; }
.Summer-blues-5-hex { color: #E8F2D0; }
